.single-banner  
    background alpha + 10%
    //margin-top 3rem
    //padding 2rem
    //position relative
    .banner-data
        //border 1px solid alpha + 50%
        background red
        padding 2rem
        max-width 420px
        width 100%
        color pink
.banner-bar 
    background alpha +15%
    //border 1px solid alpha + 50%
    display flex
    justify-content: space-between
    align-items center
    padding .4rem

    