//- src/views/partials/header.pug

header
    nav.header-nav 
        a(href="/") LOGO
        ul.header-nav-ul 
            li 
                a(href="/about") About
            li 
                button#contactToggle(type="button") Contact







//- header
//-   nav
//-     ul
//-       li: a(href="/") Home
//-       li: a(href="/required/about") About
//-       li: a(href="/required/terms-of-service") Terms
//-       li: a(href="/required/privacy-policy") Privacy
 
//-       li: a(href="/taxonomy/category/news") Category: News
//-       li: a(href="/taxonomy/tag/nodejs") Tag: Node.js
hr
